[DATABASE]
database.path=D:\+sandbox\work\domoWeb\WebContent
#database.path=D:\Documents\Work\domoWeb\WebContent
database.filename=domotique.sqlite

[LOGGER]
logger.path=D:\+sandbox\work\domocore\log
#logger.path=D:\Documents\Work\domoCore\log
logger.filename=domocore.log

[EMMITTER]
emmitter.command=sudo /home/pi/scripts/poele/emetteur/emetteurMCZBis 0
#Délais entre l'envoi de 2 trames ON identiques
emmitter.same.trame.start.delay=15
#Délais entre l'envoi de 2 trames OFF identiques
emmitter.same.trame.stop.delay=5